{% extends "admin/change_form.html" %}
{% load i18n %}

{% block object-tools-items %}
    <li>
        <a href="{% url 'admin:datacite_resource_export' original.pk 'json' %}"
           title="{% trans 'Export this resource as JSON.' %}">
            {% trans 'Export JSON' %}
        </a>
    </li>
    <li>
        <a href="{% url 'admin:datacite_resource_export' original.pk 'xml' %}"
           title="{% trans 'Export this resource as XML.' %}">
            {% trans 'Export XML' %}
        </a>
    </li>
    <li>
        <a href="{% url 'admin:datacite_resource_export' original.pk 'bibtex' %}"
           title="{% trans 'Export this resource as bibtex.' %}">
            {% trans 'Export bibtex' %}
        </a>
    </li>
    <li>
        <a href="{% url 'admin:datacite_resource_import' original.pk %}"
           title="{% trans 'Update this resource with data from a file or a URL.' %}">
            {% trans 'Import' %}
        </a>
    </li>
    <li>
        <a href="{% url 'admin:datacite_resource_copy' original.pk %}"
           title="{% trans 'Create a copy of this resource.' %}">
            {% trans 'Copy' %}
        </a>
    </li>
    <li>
        <a href="{% url 'admin:datacite_resource_create_new_version' original.pk %}"
           title="{% trans 'Create a new version of this resource.' %}">
            {% trans 'New version' %}
        </a>
    </li>
    <li>
        <a href="{% url 'admin:datacite_resource_validate' original.pk %}"
           title="{% trans 'Validate this resource.' %}">
            {% trans 'Validate' %}
        </a>
    </li>
    {{ block.super }}
{% endblock %}
